@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "KoHo:wght", KoHo;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.section-1 {
    width: 100%;
    height: 100vh;
    background-color: #f2f1ed;
    display: flex;
}

.intro {
    margin: 20rem auto 20rem auto;
    justify-content: center;
}

.myself {
    margin-left: -60rem;
    margin-bottom: -70rem;
}

.self {
    flex-direction: column;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 3rem;
}
.section-1-heading {
    font-size: 4rem;
    font-weight: 900;
}
.self-title {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.self-description {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    width: 50rem;
}
.image {
    width: 100%;
}
.vector-image {
    width: 50rem;
    margin-top: 37rem;
    margin-right: -50rem;
}
.hero-btn {
    width: 15rem;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 2rem;
    border: 0.1rem solid #b08f33;
    border-radius: 1rem;
    text-align: center;
    margin-top: 10rem;
    cursor: pointer;
}
.hire-btn {
    color: #000;
}

/*-----start section-2-----------*/

.section-2 {
    width: 100%;
    height: 100vh;
    display: flex;
}
.section-2-img {
    width: 40%;
    margin: 0 20rem 0 20rem;
}
.section-2-intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-2-heading {
    font-size: 5rem;
    margin: 0 0 3rem 0;
}
.self-title {
    font-size: 2rem;
    font-weight: 600;
}
.self-description-2 {
    font-size: 1.5rem;
    width: 70%;
}
.resume-link {
    width: 30%;
    font-size: 2rem;
    border: 0.1rem solid #b08f33;
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
    border-radius: 1rem;
    color: #000;
}
/*-----end section-2-----------*/

/*-----start section-3-----------*/

.section-3 {
    width: 100%;
    height: 100vh;
    background-color: #e4ebe5;
    overflow: hidden;
}
.section-3-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
}
.heading-3 h1 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-1 {
    width: 40%;
    height: 50rem;
    border: 0.1rem solid #b08f33;
    text-align: center;
    padding: 5rem 5rem 10rem 5rem;
    margin-right: 10rem;
    border-radius: 5rem;
}
.box-2 {
    width: 40%;
    height: 50rem;
    border: 0.1rem solid #b08f33;
    text-align: center;
    padding: 5rem 5rem 10rem 5rem;
    border-radius: 5rem;
}
.box-1-heading {
    font-size: 5rem;
    margin-bottom: 5rem;
}
.box-1-time-description {
    font-size: 2.5rem;
    color: orange;
    margin-bottom: 2.5rem;
}
.box-1-intro {
    font-size: 2rem;
}
.box-2-heading {
    font-size: 5rem;
    margin-bottom: 5rem;
}
.box-2-time-description {
    font-size: 2.5rem;
    color: orange;
    margin-bottom: 2.5rem;
}
.box-2-intro {
    font-size: 2rem;
}
/*-----end section-3-----------*/
